a {
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

a:hover {
    background-color: orange;
}

table {
    text-align: center;
}

.boldovano {
    font-weight: bold;
}

.narandzasto {
    color: orange;
}

.grad {
    color: orange;
}

.qa {
    color: green;
}

img {
    border: 4px orange solid;
}

h3 {
    color: orange;
    font-weight: bold;
}

.link {
    color: green;
    font-weight: bold;
}

a:visited {
    background-color: red;
}

.centrirano {
    text-align: center;
}

form {
    margin: 10% 20%;
}

button {
    background-color: orange;
    padding: 10px;
}